In [2]:
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
print("Summation:",num1+num2)
print(f"Summation:{num1+num2}")

Enter the first number: 10
Enter the second number: 20

Summation: 30
Summation:30

In [7]:
num=int(input('Enter the integer:'))
if num>=9 and num<=9:
     print("Digit")
else:
    print("Number")
res="Digit" if(num>=9 and num<=9) else "Number"
print(res)

Enter the integer: 19

Number
Number

In [8]:
num1=int(input('Enter the first integer:'))
num2=int(input('Enter the second integer:'))
if(num1>num2):
    print(f"{num1} is largest number.")
else:
    print(f"{num2} is largest number.")
res=num1 if(num1>num2) else num2
print(f"{res} is largest number.")

Enter the first integer: 5
Enter the second integer: 9

9 is largest number.
9 is largest number.

In [9]:
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
if(num1<num2):
    print(f"{num1} is smallest number.")
else:
    print(f"{num2} is smallest number.")
res=num1 if(num1>num2) else num2
print(f"{res} is smallest number")

Enter the first number: 10
Enter the second number: 5

5 is smallest number.
10 is smallest number

In [10]:
num1=int(input('Enter the first number:'))
num2=int(input('Enter the second number:'))
num3=int(input('Enter the third number:'))
largest=num1 if(num1>num2 and num1>num3) else num2
res=num3 if(num3>num1 and num3>num2) else largest
print(f"{res} is the largest number")

Enter the first number: 6
Enter the second number: 8
Enter the third number: 9

9 is the largest number

In [11]:
num=int(input('Enter the integer:'))
if((num>=10 and num<=99 or (num>=-99 and num<=-10))):
    print("Two digit number")
else:
    print("Not a two digit number")

Enter the integer: 40

Two digit number

In [12]:
age=int(input('Enter your age:'))
if age>=18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter your age: 20

You are eligible to vote

In [13]:
num=int(input("Enter an interger:"))
if num%2==0:
    print(f"{num} is an even number")
else:
    print(f"{num} is an odd number")

Enter an interger: 6

6 is an even number

In [14]:
num=int(input('Enter an integer:'))
if num%3==0 and num%5==0:
    print(f"{num} is a multiple of both 3 and 5")
else:
    print(f"{num} is not a multiple of both 3 and 5")

Enter an integer: 15

15 is a multiple of both 3 and 5

In [15]:
month=int(input('Enter month number:'))
if 1<= month <=12:
    print("Valid month number")
else:
    print("Invalid month number")

Enter month number: 8

Valid month number

# write a python program to read an integer value as input and print FizzBuzz if it is divisible by 3 and 5 
Fizz----->3,Buzz------>5

In [9]:
num=int(input('Enter a number:'))
if num%3==0 and num%5==0:
    print("FizzBuzz")
elif num%3==0:
    print("Fizz")
elif num%5==0:
    print("Buzz")
else:
    print(num)

Enter a number: 5

Buzz

In [16]:
amount=int(input('Enter the amount:'))
print(f"500------------>{amount//500}")
amount=amount%500
print(f"200------------>{amount//200}")
amount=amount%200
print(f"100------------>{amount//100}")
amount=amount%100
print(f"50------------->{amount//50}")
amount=amount%50
print(f"20------------->{amount//20}")
amount=amount%20
print(f"10------------->{amount//10}")
amount=amount%10
print(f"5-------------->{amount//5}")
amount=amount%5
print(f"2-------------->{amount//2}")
amount=amount%2
print(f"1-------------->{amount//1}")
amount=amount%1

Enter the amount: 1234

500------------>2
200------------>1
100------------>0
50------------->0
20------------->1
10------------->1
5-------------->0
2-------------->2
1-------------->0

In [1]:
amount=int(input("Enter the amount:"))
account_balance=5000
if(amount<=account_balance and amount%100==0):
    print("Withdrawal successful")
else:
    print("insufficient balance")

Enter the amount: 4000

Withdrawal successful

In [3]:
light_color=input("Enter the traffic light color").lower()
if light_color=="red":
    print("stop immediately")
elif light_color=="yellow":
    print("Get ready to move")
elif light_color=="green":
    print("you can go")
else:
    print("Invalid input")

Enter the traffic light color red

stop immediately

In [4]:
age=int(input("Enter your age:"))
if age<12:
    print("Ticket price:150")
elif 12<= age<=18:
    print("Ticket price:200")
else:
    print("Ticket price:300")

Enter your age: 400

Ticket price:300

In [10]:
hours_worked=int(input("Enter the number of hours worked:"))
if hours_worked<8:
    overtime_hours=hours_worked-8
    overtime_pay=overtime_hours*100
    print("overtime pay:{overtime_pay}")
else:
    print("No overtime pay")

Enter the number of hours worked: 9

No overtime pay

In [13]:
bill=float(input("Enter total bill amount"))
if bill>3500:
    discount=bill*0.05
elif bill>1000:
    discount=bill*0.10
else:
    discount=0
final_amount=bill-discount
print("original bill:",bill)
print("Final amount to pay:",final_amount)

Enter total bill amount 1200

original bill: 1200.0
Final amount to pay: 1080.0

In [14]:
hours=int(input("Enter the number of hours since you last drank water:"))
if hours>=4:
    print("You are dehydrated!Drink water now!")
elif 2<=hours<=3:
    print("Drink a glass of water")
else:
    print("You are fine")

Enter the number of hours since you last drank water: 5

You are dehydrated!Drink water now!

In [17]:
List=[10,20,30,40,50]
Tuple=(10,20,30,40,50)
Set={10,20,30,40,50}
print(List,type(List))
print(Tuple,type(Tuple))
print(Set,type(Set))

[10, 20, 30, 40, 50] <class 'list'>
(10, 20, 30, 40, 50) <class 'tuple'>
{50, 20, 40, 10, 30} <class 'set'>

In [19]:
#range(stop)
#range(start,stop)
#range(start,stop,stepsize)
R1=range(10)
print(R1)
print(type(R1))

range(0, 10)
<class 'range'>

In [20]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
for i in range(10,16):
    print(i)

10
11
12
13
14
15

In [22]:
for i in range(11,16):
    print(i)

11
12
13
14
15

In [2]:
n=int(input('Enter the integer value:'))
print(f"Natural Numbers from 1 to {n}:")
for i in range(1,n+1):
    print(i)

Enter the integer value: 33

Natural Numbers from 1 to 33:
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

 # write a python program to print natural numbers from n to 1

In [4]:
n=int(input('Enter the integer value:'))
print(f"Natural Numbers from 1 to {n}:")
for i in range(n,0,-1):
    print(i)

Enter the integer value: 65

Natural Numbers from 1 to 65:
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [6]:
n=int(input('Enter the integer value:'))
print(f"Even Numbers from 1 to {n}:")
for i in range(2,n+1,2):
    print(i)

Enter the integer value: 66

Even Numbers from 1 to 66:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66

In [6]:
n=int(input('Enter the integer value:'))
print(f"Even Numbers from 1 to {n}:")
for i in range(2,n+1,2):
    print(i)

Enter the integer value: 66

Even Numbers from 1 to 66:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66

In [6]:
n=int(input('Enter the integer value:'))
print(f"Even Numbers from 1 to {n}:")
for i in range(2,n+1,2):
    print(i)

Enter the integer value: 66

Even Numbers from 1 to 66:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66

In [7]:
n=int(input('Enter the integer value:'))
print(f"Natural Numbers from 1 to {n}:")
for i in range(n,0,-1):
    print(i)

Enter the integer value: 9

Natural Numbers from 1 to 9:
9
8
7
6
5
4
3
2
1

# write a pp to print odd numbers from 1 to n

In [18]:
n=int(input('Enter the integer value:'))
print(f"Odd Numbers from 1 to {n}:")
for i in range(1,n+2,2):
    print(i)

Enter the integer value: 55

Odd Numbers from 1 to 55:
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55

In [20]:
n=int(input('Enter the integer value:'))
print("Odd Numbers from 1 to {n}:")
for i in range(n,0,-2):
    print(i)

Enter the integer value: 87

Odd Numbers from 1 to {n}:
87
85
83
81
79
77
75
73
71
69
67
65
63
61
59
57
55
53
51
49
47
45
43
41
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1

In [16]:
n=int(input('Enter the value of n:'))
print(f"Multiplication Table of {n}:")
for i in range(1,11):
    print(f"{n} x {i} ={n*1}")

Enter the value of n: 20

Multiplication Table of 20:
20 x 1 =20
20 x 2 =20
20 x 3 =20
20 x 4 =20
20 x 5 =20
20 x 6 =20
20 x 7 =20
20 x 8 =20
20 x 9 =20
20 x 10 =20

# write a python program to print the reverse multiplication of n

In [4]:
n=int(input('Enter the value of n:'))
print(f"Multiplication Table of {n}:")
for i in range(10,0,-1):
    print(f"{n} x {i} ={n*i}")

Enter the value of n: 16

Multiplication Table of 16:
16 x 10 =160
16 x 9 =144
16 x 8 =128
16 x 7 =112
16 x 6 =96
16 x 5 =80
16 x 4 =64
16 x 3 =48
16 x 2 =32
16 x 1 =16

# write a python program to print the multiplication tables from 1 to n where as n is an integer input from the user

In [7]:
n=int(input('Enter the value of n:'))
print(f"Multiplication Table of {n}:")
for i in range(1,n+1):
    print(f"-----Table of {i}-----")
    for j in range(1,11):
        print(f"{i} x{j} ={i*j}")
    print()

Enter the value of n: 5

Multiplication Table of 5:
-----Table of 1-----
1 x1 =1
1 x2 =2
1 x3 =3
1 x4 =4
1 x5 =5
1 x6 =6
1 x7 =7
1 x8 =8
1 x9 =9
1 x10 =10

-----Table of 2-----
2 x1 =2
2 x2 =4
2 x3 =6
2 x4 =8
2 x5 =10
2 x6 =12
2 x7 =14
2 x8 =16
2 x9 =18
2 x10 =20

-----Table of 3-----
3 x1 =3
3 x2 =6
3 x3 =9
3 x4 =12
3 x5 =15
3 x6 =18
3 x7 =21
3 x8 =24
3 x9 =27
3 x10 =30

-----Table of 4-----
4 x1 =4
4 x2 =8
4 x3 =12
4 x4 =16
4 x5 =20
4 x6 =24
4 x7 =28
4 x8 =32
4 x9 =36
4 x10 =40

-----Table of 5-----
5 x1 =5
5 x2 =10
5 x3 =15
5 x4 =20
5 x5 =25
5 x6 =30
5 x7 =35
5 x8 =40
5 x9 =45
5 x10 =50